<div class="ma-box">
  <div class="ma-box__title">Sign up</div>
  <div class="ma-box__content">
    <form class="form-horizontal ma-form--horizontal">
      <h3>Horizontal Text Inputs</h3>
      <div class="form-group">
        <label class="text-right col-xs-3" for="username">Username</label>
        <div class="col-xs-9">
          <input id="username" type="text" class="ma-input ma-input--default">
        </div>
      </div>

      <br>
      <div class="form-group">
        <label class="text-right col-xs-3" for="password">Password</label>
        <div class="col-xs-9">
          <input id="password" type="password" class="ma-input ma-input--default">
        </div>
      </div>

      <br>
      <div class="form-group">
        <label class="text-right col-xs-3">User type</label>
        <div class="col-xs-9">
          <input type="radio" name="gender" value="male">individual<br>
          <input type="radio" name="gender" value="female">enterprise
        </div>
      </div>
    </form>
  </div>
  <button routerLink="/signup" routerLinkActive="active" class="ma-btn ma-btn--small ma-btn--primary">Sign up</button>
</div>
