<app-top-navigation></app-top-navigation>
<div class="page_title gradient_overlay">
  <p *ngIf="!isRoom" style="color: black;font-size: 26px;font-family:Arial;font-weight: bold;margin-left: 40px">
    {{this.curHotel.hotel_name}} Images&nbsp;&nbsp;&nbsp;
  </p>
  <p *ngIf="isRoom" style="color: black;font-size: 26px;font-family:Arial;font-weight: bold;margin-left: 40px">
    Room Images Management
  </p>
</div>
<br>
<kendo-tabstrip style="margin-left: 20%; margin-right: 20%">
<!--  <kendo-tabstrip-tab [title]="'Paris'" [selected]="true">-->
<!--    <ng-template kendoTabContent>-->
<!--      <img src="../../assets/images/spa.jpg">-->
<!--    </ng-template>-->
<!--  </kendo-tabstrip-tab>-->
</kendo-tabstrip>
<div *ngIf="noImage" style="margin-left: 20%;margin-right: 20%;margin-top: 2%;color: black;font-size: 19px">No image uploaded.</div>
<br><br>

<form (ngSubmit)="onHotelImageSubmit(imageInput)" #imageForm="ngForm" id="formContent" class="example-wrapper" style="margin-left: 20%;margin-right: 20%">
  <div class="k-dropzone k-button k-upload k-primary">
      <input type="file" #imageInput accept="image/*" name="file" required>
  </div>
  &nbsp;
  <button type="submit" class="k-button k-primary" style="margin: 1em 0;" [disabled]="!imageForm.form.valid">Submit</button>
</form>

<br>
<br>

<app-scripthack src="../../assets/update_hotel.js" type="text/javascript"></app-scripthack>
