<div style="overflow: auto; height: 400px; width: 500px">
  <ul *ngFor="let defaultHotel of this.defaultHotelsInfo">
    <li>
      <div class="card bg-light mb-3" style="margin-bottom: 2px">
        <div class="card-body">
          <a href="/homepage"><h5 class="card-title" style="color: black">{{ defaultHotel.name }}
            &nbsp; <a href="/homepage" class="fa fa-map-marker" aria-hidden="true"></a>
          </h5></a>
          <p class="card-text">{{ defaultHotel.location }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>

