<div appChangeMapSidebar id="mapsidebar" style="overflow: auto; height: 467px; width: 520px;border-style: groove">
  <p style="color:black; margin-bottom: 7px; margin-left: 7px;font-size: 25px;font-family: Arial">{{ this.title }}</p>
<!--  {{this.displayHotelsInfo.length}}-->
  <div *ngIf="this.displayHotelsInfo[0] != undefined || this.displayHotelsInfo.length != 0; else notFound">
    <p *ngIf="!init" style="margin-left: 7px; margin-top: 7px">There is(are) {{this.displayHotelsInfo.length}} recommendation(s).</p>
    <ul *ngFor="let displayHotel of this.displayHotelsInfo" style="margin-left: 7px;margin-right: 7px">
      <li>
        <div  class="card bg-light mb-3" style="cursor: pointer;margin-bottom: 7px;">
          <div class="card-body" (click)="this.onToggle(displayHotel)" [ngStyle]="{'background-color': this.displayHotel.bgColor, 'color': this.displayHotel.fontColor}">
            <!--          <a href="/homepage"><h5 class="card-title" style="color: black">-->
            {{ displayHotel.name }}
            &nbsp; <p class="fa fa-map-marker" aria-hidden="true"></p>
            <!--          </h5></a>-->
            <p class="card-text">{{ displayHotel.location }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--  <p style="color:black; margin-bottom: 7px;margin-left: 7px; font-size: 25px;font-family: Arial">Explore Sydney Attractions</p>-->
<!--  <ul *ngFor="let defaultHotel of this.defaultHotelsInfo" style="margin-right: 7px;margin-left: 7px">-->
<!--    <li>-->
<!--      <div class="card bg-light mb-3" style="margin-bottom: 7px">-->
<!--        <div class="card-body">-->
<!--          <a href="/homepage"><h5 class="card-title" style="color: black">{{ defaultHotel.name }}-->
<!--            &nbsp; <a href="/homepage" class="fa fa-map-marker" aria-hidden="true"></a>-->
<!--          </h5></a>-->
<!--          <p class="card-text">{{ defaultHotel.location }}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
</div>
<ng-template #notFound ><p style="margin-left: 7px">No accommodation found :(</p></ng-template>
