<app-top-navigation></app-top-navigation>

<div class="page_title gradient_overlay">
  <p style="color: black;font-size: 26px;font-family:Arial;font-weight: bold;margin-left: 40px">{{hotelName}} <u><em>Reviews</em></u></p>
</div>
<br><br>
<div *ngFor="let comment of comments">
  <div class="example-config" style="color:black;width: 900px;margin-left: 17%;font-size: 17px  ">
    <div [innerHTML]="comment"></div>
  </div>
</div>
<div *ngIf="comments.length === 0" style="color:black;width: 900px;margin-left: 17%;font-size: 17px">NO COMMENTS</div>
<br>
<p style="color: black;margin-left: 17%;font-size: 17px;color: orangered">Note: Please specify which room you lived in. Also It's better to post some pictures!</p>

<form [formGroup]="myForm" style="width: 900px;margin-left: 17%">
<!--  <div class="example-wrapper">-->
    <angular-editor placeholder="Enter your comment here..." [config]="editorConfig" formControlName="editor" style="height: 600px;"></angular-editor>
    <input type="hidden" formControlName="user">
<!--  </div>-->
  <br>
  <button type="submit" class="button btn_yellow btn_lg" (click)="onSubmitComment()">Submit</button>
</form>
<br>
<br>
<br>
